* {
  font-family: Mukta;
}
body {
  background: #0F172A;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}
.blog-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-div .heading,.heading-browsetopic {
  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 17px;
  background-image: linear-gradient(to right, #0EA9E8,#0CB4BE);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  height: auto;
  border-radius: 12px;
  border: 1px solid #222F43;
  background: #131C31;
  box-sizing: border-box;
  padding: 25px;
  transition: all 0.1s;
}
.card:hover {
  box-shadow: #0EA9E8 0px 2px 2px;
}
.blog-img-div {
  height: 180px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.blog-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  border-radius: 10px;
  border: 0;
}
.details-div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: left;
  gap: 7px;
}
.extrainfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.type {
  padding: 1px 10px;
  font-size: 13px;
  background: #1e325c;
  color: #B9E0F2;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}
.meta-date {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  color: #667da4;
  line-height: 1.06;
}
.title{
  margin-top: 10px;
}
.title a {
  font-weight: 600;
  font-size: 23px;
  text-decoration: none;
  line-height: 1.15;
  color: #B9E0F2;
}
.title a:visited {
  color: #B9E0F2;
}
.link a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 3px;
  background-image: linear-gradient(to right, #0EA9E8,#0CB4BE);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.link a:visited {
  color: transparent;
}
.searched-more-div{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.searched-more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
  background: linear-gradient(to right , #0EA9E8,#0CB4BE);
  color: white;
  border: 0;
  outline: 0;
  transition: all 0.1s;
}
.searched-more-btn:hover{
  background: linear-gradient(to left , #0EA9E8,#0CB4BE);
}